.wpb_row {
	padding-top: 90px;
	padding-bottom: 90px;
	margin-bottom: 0px !important;
}
.wpb_row.vc_inner {
	padding-top: 0px;
	padding-bottom: 0px;
}

/* FAQ */

.vc_toggle_title {
	border-bottom: 1px solid #e1e1e1;
	padding: 15px 15px 15px 15px !important;
}
.vc_toggle_title .vc_toggle_icon {
	display: none !important;
}
.vc_toggle_title h4 {
	font-size: 14px;
}
.vc_toggle_content {
	padding-left: 15px !important;
}

/*-----------------------------------------------------------------------------------*/
/*	Carousel
/*-----------------------------------------------------------------------------------*/

.vc-carousel-inner .vc-inner {
	text-align: center;
}
.vc-carousel-inner {
	margin-bottom: 60px;
}
.vc-carousel-indicators {
	bottom: -60px !important;
}
.vc-carousel-indicators li {
	background: #e1e1e1 !important;
	border: 0px !important;
}
.vc-carousel-indicators .vc-active {
	background: #51585E !important;
	border: 0px !important;
	height: 10px !important;
	width: 10px !important;
	margin: 1px !important;
}
.icon-next, .icon-prev {
	background: none !important;
	background-repeat: no-repeat !important;
	border-radius: 5px;
	margin-left: 60px;
	margin-right: 60px;
	color: #000 !important;
	z-index: 2 !important;
	display: inline-block;
	font-family: FontAwesome !important;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 60px !important;
	text-align: center;
	text-shadow: none !important;
}
.icon-next:before {
	content: "\f105" !important;
}
.icon-prev:before {
 	content: "\f104" !important;
}
.vc-vc_single_image .attachment-full, .wpb_single_image .attachment-full {
	width: 100%;
	height: auto;
}
.vc_carousel-inner img {
	height: auto;
	width: 100%;
}

/*-----------------------------------------------------------------------------------*/
/*	Tabs
/*-----------------------------------------------------------------------------------*/

.vc_tta-panels {
	background: none !important;
	border: none !important;
}
.vc_tta-tab a {
    background-color: #fff !important;
    border-radius: 0px !important;
    border: none !important;
    color: #333 !important;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;

}
.vc_tta-tab a:hover {
    background-color: #f7f7f7 !important;

}
.vc_tta-tab.vc_active a {
    background-color: #222 !important;
    color: #fff !important;
}
.vc_tta-panel-body {
	padding-left: 0px !important;
}
.vc_tta-controls-align-left .vc_tta-panel-body {
	padding-left: 30px !important;
	padding-top: 0px !important;
}
.vc_tta-controls-align-right .vc_tta-panel-body {
	padding-right: 30px !important;
	padding-top: 0px !important;
}

/*-----------------------------------------------------------------------------------*/
/*	Accordion
/*-----------------------------------------------------------------------------------*/

.vc_tta-accordion .vc_tta-panel-heading {
	border-radius: 0px !important;
}
.vc_tta-accordion .vc_tta-panel-heading a {
	padding: 20px 20px !important;
	font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
}
.vc_tta-accordion .vc_tta-panel-heading .vc_tta-controls-icon {
	display: none !important;
}
.vc_tta-accordion .vc_tta-panel-body {
	margin-top: 20px;
	background: none !important;
	border: 0px !important;
}

/*-----------------------------------------------------------------------------------*/
/*	Progress Bar
/*-----------------------------------------------------------------------------------*/

.vc_progress_bar .vc_single_bar .vc_label {
    padding: 15px 15px !important;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 1px;
}

.vc_btn3 {
	text-transform: uppercase;
    font-size: 11px !important;
    font-weight: 600;
    letter-spacing: 1px;
}

/*-----------------------------------------------------------------------------------*/
/*	Text
/*-----------------------------------------------------------------------------------*/

.wpb_text_column ul li {
	list-style-type: square;
	font-size: 14px; line-height: 30px;
	color: #666;
	margin-left: 30px;
}
.wpb_text_column ol li {
	list-style-type: decimal;
	font-size: 14px; line-height: 30px;
	color: #666;
	margin-left: 30px;
}
.hentry ul li {
	list-style-type: square;
	color: #666;
	margin-left: 22px;
}
.hentry ol li {
	list-style-type: decimal;
	color: #666;
	margin-left: 22px;
}

/*-----------------------------------------------------------------------------------*/
/*	Devices
/*-----------------------------------------------------------------------------------*/

.device-container {
	position: relative;
}
.device-container .screen {
	border: 10px solid #000;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 83%;
	position: relative;
}
.device-container .screen img {
	width: 100%;
	height: auto;
}
.device-container .base {
	width: 100%;
	height: auto;
}
.device-container .screen-icon {
	position: absolute;
	top: 50%;
	margin-top: -13px;
	text-align: center;
	left: 0;
	right: 0;
	opacity: 0;
	transition: all 0.2s ease-in; 
	-moz-transition: all 0.2s ease-in; 
	-webkit-transition: all 0.2s ease-in; 
	display:table-cell; 
	vertical-align:middle;
	z-index: 100;
	color: #fff;
}
.device-container .screen-icon i {
	font-size: 40px;
}