@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}
@media (max-width: 1024px) {
	* { 
		-webkit-backface-visibility: visible;
	}
	.content-container, .project-content {
		padding: 45px 30px 45px 30px !important;
	}
	.js_active .content-container {
		padding-top: 0px !important; 
		padding-bottom: 0px !important;
	}
	.entry-content p {
		font-size: 14px;
	}
	.single .heading a, .single .heading {
	 	font-size: 24px !important;
	}
	.header {
		display: none !important;
  	}
	.mobile-nav-container {
		display: block;
	}
	.isotope-container .isotope-post:first-child {
		padding: 60px 60px;
		padding-top: 120px;
	}
	.isotope-container .isotope-post {
	    width: 100%;
	    padding: 60px 60px;
	    text-align: center;
	}
	.contact-container {
		width: 400px;
	}
	footer .footer-about {
		width: 100%;
	}
	.project-sidebar {
		padding-left: 0px;
	}
	.hero-container h1 {
		font-size: 50px;
		line-height: 50px;
		margin-bottom: 30px;
	}
	.content-container {
		margin-top: 0px !important;
	}
}
@media (max-width: 767px) {
	.tags-share .right {
		float: none;
	}
	.tags-share .column {
		width: 100%;
		margin-bottom: 30px;
	}
	.menu-footer .right {
	  width: 100%;
	  text-align: center;
	}
	.portfolio-entry {
		width: 100% !important;
		margin-left: 0px;
		float: left;
	}
	.carousel-indicators {
		margin-left: 30px;
	}
	footer .social-buttons a {
   		margin-right: 15px;
    	font-size: 18px;
	}
	.heading a, .heading {
		font-size: 24px;
		width: 100%;
	}
	.widget-area {
		display: none;
	}
	.single-portfolio .portfolio-slider {
		position: absolute;
	}
	.contact-container {
		width: 300px;
	}
	.live-previews-container {
		display: none;
	}
	.category-filter {
		display: none;
	}
}