.updated-setup {
	padding: 40px 40px !important;
	text-align: center;
}
#accordion-section-colors, #accordion-section-header_image, #accordion-section-background_image {
	display: none !important;
}
.updated-setup .few-min {
	font-weight: 400;
	letter-spacing: 3px;
	text-transform: uppercase;
	font-size: 12px;
}
.setup-buttons {
	margin-top: 30px;
}
.setup-note {
	color: #aaa;
}
.setup-note strong {
	color: #777;
}
.updated-setup .heading {
	font-weight: 300;
	font-size: 24px;
	display: block;
	margin-bottom: 15px;
}
.updated-setup a {
	text-decoration: none !important;
}
#import-success, #import-error {
	display: none;
}
.rs-update-notice-wrap, .eg-update-notice-wrap {
	display: none;
}
.customize-control-title {
	font-size: 12px;
}
.customize-control-description  {
	margin-bottom: 12px;
	font-weight: 400;
}
.customize-control {
	margin-bottom: 22px;
}
.customize-control-description:last-child, #customize-control-enable_rainbow_bar  {
	margin-bottom: 0px;
}
.customize-section-heading {
	padding-top: 6px;
	padding-bottom: 6px;
	box-sizing: content-box !important;
	-moz-box-sizing: content-box !important;
	-webkit-box-sizing: content-box !important;
	margin-left: -150% !important;
	margin-right: auto !important;
    padding-left: 150%;
    padding-right: 150%;
    width: 100%;
    position: relative;
    z-index: 0;
    color: #333;
    background: #f5f5f5;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    font-size: 12px;
}
.customize-section-space {
	height: 30px;
}
.open .accordion-section-title {
	background: #333 !important;
	color: #fff !important;
}
.customizer-layout li {
	float: left;
	margin: 4px 4px;
}

.customizer-layout li label > input{ /* HIDE RADIO */
  visibility: hidden;
  position: absolute;
}
.customizer-layout li label > input + img{ /* IMAGE STYLES */
  cursor:pointer;
  border:1px solid transparent;
  padding: 16px 16px;
   transition: all 0.4s;
	-webkit-transition: all 0.4s; /* Safari and Chrome */
}
.customizer-layout li label > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
  	border:1px solid #ccc;
  	background: #f5f5f5;
	padding: 16px 16px;
}
.customizer-layout li label:hover > input + img{ /* (RADIO HOVER) IMAGE STYLES */
  	border:1px solid #ddd;
  	background: #f7f7f7;
	padding: 16px 16px;
}
input.checkbox
{
	margin-left: -999px;
}
input.checkbox ~ label
{
	position: relative;
	float: left;
	line-height: 1.6em;
	text-indent: 4em;
	margin: 0.2em 0;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#accordion-section-header_image, #accordion-section-colors, #accordion-section-background_image {
	display: none;
}

/* Range Slider */

.irs-line {
	background: #e7e7e7;
	height: 7px !important;
	border-radius: 5px;
}
.irs-from, .irs-to, .irs-single {
	background: #29ABE2 !important;
	padding: 3px 10px !important;
	border-radius: 3px;
	top: auto !important;
	margin-top: 12px;
	color: #ffffff !important;
}
.irs-max, .irs-min {
	display: none !important;
}
.irs-from:after, .irs-to:after, .irs-single:after {
	border-top-color: #29ABE2 !important;
	display: none !important;
}
.irs-slider {
	height: 15px !important;
	width: 30px !important;
	background: transparent !important;
	border-radius: 500px;
}
.customize-control {
	position: relative;
	float: left;
}

.accordion-section-title .fa {
	margin-right: 6px;
}


.customizer-preset li {
	float: left;
	margin: 6px 6px;
	width: 45%;
  	height: auto;
}
.customizer-preset li label {
	overflow: hidden;
	display: block;
}
.customizer-preset li label > input{ /* HIDE RADIO */
  visibility: hidden;
  position: absolute;
}
.customizer-preset li label > input + img{ /* IMAGE STYLES */
	cursor:pointer;
	border:1px solid #ccc;
	padding: 3px 3px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s; /* Safari and Chrome */
	width: 100%;
	height: auto;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.customizer-preset li label > input:checked + img { /* (RADIO CHECKED) IMAGE STYLES */
  	border:1px solid #000;
}
.customizer-preset li label:hover > input + img { /* (RADIO HOVER) IMAGE STYLES */
  	border:1px solid #666;
  	background: #f7f7f7;
}
.customizer-preset li label span {
	position: absolute;
	bottom: -20px;
	left: 0;
	background: #333;
	padding: 5px 10px;
	color: #fff;
	font-size: 11px;
	opacity: 0;
	transition: all 0.4s;
	-webkit-transition: all 0.4s; /* Safari and Chrome */
}
.customizer-preset li label:hover span {
	opacity: 1;
	bottom: 0px;
}
.customizer-preset li label > input:checked + span {
	opacity: 1 !important;
	bottom: 0px;
}
/* Category Filter */
.category-filter-container {
	width: 100%;
}
.category-filter-button {
	border: 1px solid #c1c1c1;
	font-weight: 300;
	font-size: 11px;
	padding: 9px 9px;
	padding-right: 0px;
	color: #666;
	width: 100%;
	cursor: pointer;
	text-transform: uppercase;
	letter-spacing: 3.5px;
	position: relative;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	margin-bottom: 22px;
}
.category-filter-button:hover {
	border: 1px solid #ccc;
	color: #333;
	background: #fff;
	border: 1px solid #e1e1e1;
}
.category-filter, .category-selector {
	display: none;
	position: relative;
	margin-top: 9px;
	margin-left: -9px;
	font-weight: normal;
	text-transform: none;
	letter-spacing: normal;
	text-align: left;
	background: #fff;
	border: none;
	padding: 0px 0px;
	width: auto;
}
.category-filter-button:hover .category-filter, .category-filter-button:hover .category-selector {
	display: block;
}
.category-filter li, .category-selector li {
	list-style-type: none;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}
.category-filter li a, .category-selector li a {
	width: 100%;
	display: block;
	color: #40434c;
	font-size: 11.5px !important;
	padding: 9px 9px;
	text-indent: 10px;
	transition: all 0.4s;
	-moz-transition: all 0.4s; /* Firefox 4 */
	-webkit-transition: all 0.4s; /* Safari and Chrome */
	-o-transition: all 0.4s; /* Opera */
	font-weight: 300;
	box-sizing: border-box;
	border: 0px;
}
.category-filter li a:hover, .category-selector li a:hover {
	background: #f1f1f1;
}
.customizer-preloader-container {
	width: 100%;
	height: 100%;
	position: fixed;
	background: red;
	z-index: 9999999;
	background: #f1f1f1;
	text-align: center;
	vertical-align: middle;
	transition: all 0.5s;
	-webkit-transition: all 0.5s; /* Safari and Chrome */
	opacity: 1;
}
.customizer-preloader {
	 position: relative;
    top: 50%; 
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
.customizer-preloader p {
	color: #999;
}
.customizer-preloader .fa {
	font-size: 40px;
}
.customize-control {
	padding: 15px 15px;
    width: 100%;
    box-sizing: border-box;
    background-color: rgba(255,255,255,0.7);
}


.demo-block-container {
	position: relative;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.demo-block {
    background: #fff;
    padding: 30px 30px;
    float: left;
    width: 33.2%;
    box-sizing: border-box;
    border: 30px solid #f1f1f1;
}

.demo-block img {
	width: 100%;
	auto: auto;
	margin-bottom: 30px;
}
.demo-block a {
	width: 100%;
	text-align: center;
}
.demo-header {
	text-align: center;
	padding: 60px 60px;
	font-size: 24px;
	line-height: 1;
}
.demo-header img {
	width: 200px;
}