/*
Theme Name: Lupo
Theme URI: http://www.moonbear.co/lupo
Description: Portfolio Theme for designers and agencies

Author: MoonBear
Author URI: http://www.moonbear.co
Version: 1.0
Tags: light, gray, white, custom-menu, featured-images, post-formats, theme-options

License:GNU General Public License version 3.0
License URI:http://www.gnu.org/licenses/gpl-3.0.html

All files, unless otherwise stated, are released under the GNU General Public License
version 3.0 (http://www.gnu.org/licenses/gpl-3.0.html)

-----------------------------------------------------------------------------------
  
    TABLE OF CONTENTS
    -----------------------------------------------------------------------------

    1. Base CSS
    2. Forms
    3. Footer
    4. Header
    5. Mega Menu
    6. Mobile Navigation
    7. Blog
    8. Comments
    9. Widgets
    10. Misc

-----------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------------*/
/*	1. Base CSS
/*-----------------------------------------------------------------------------------*/

* {
	margin: 0;
	padding: 0px;
}
body { 
	margin: 0; 
	height: 100%; 
	z-index: 1000;
	overflow-x: hidden;
	color: #555;
	background-color: #f7f7f7; 
	font-family: 'Raleway', sans-serif;
}
img	{ 
	border: 0; 
	padding: 0 0 0 0;
}
a:hover, a:visited, a:link, a:active { 
	text-decoration: none;
	outline: none;
}
a:link,
a:visited,
a:active {
    color: #333;
    transition: color 0.2s, opacity 0.2s;
	-webkit-transition: color 0.2s, opacity 0.2s; /* Safari and Chrome */
	font-weight: 400;
}
a:hover {
    color: #999;
}
ul, li { 
	padding: 0 0 0 0; 
	margin: 0; 
	list-style-type: none; 
}
hr {
	border: 0;
	border-bottom: 1px solid #e1e1e1;
}
p { 
	width: 100%; 
	padding: 0 0 0 0; 
	margin-bottom: 22px;  
	font-weight: 400;
	font-size: 14px; 
	line-height: 2.5; /* original 24px */
	color: #888;
 	margin-top: 0;
}
p a { 
	color: #333; 
}
strong {
	font-weight: 600;
}
p strong {
	color: #222;
}
iframe {
	border: none !important;
}
cite { 
    font-style: italic;
}
h1 { font-size: 18px;}
h2 { font-size: 14px;}
h3 { font-size: 13px;}
h4 { font-size: 13px;}
h5 { font-size: 12px;}
h6 { font-size: 10px;}
h1, h2, h3, h4, h5, h6 { 
	font-weight: 500;
	padding: 0 0 0 0; 
	line-height: 1.3;
	margin-top: 0; 
	margin-bottom: 22px; 
	margin-left: auto; 
	margin-right: auto; 
	color: #222;
}
h1 strong,
h2 strong,
h3 strong,
h4 strong,
h5 strong,
h6 strong {
	font-weight: 400;
}
blockquote {
	border: none;
	border-top: 1px solid #e1e1e1;
	border-bottom: 1px solid #e1e1e1;
	padding: 30px 90px 30px 90px;
	margin: 30px 0 30px 0px;
	color: #333;
}
blockquote p {
	font-style: italic;
	color: #555;
	font-weight: 500;
	font-size: 16px !important;
	line-height: 2 !important;
}
address, pre {
	margin-bottom: 12px;
	font-size: 12px;
}
dl {
	font-size: 14px;
}
dt {
	float: left;
	clear: left;
	width: 150px;
	text-align: left;
	color: #555;
	font-weight: 600;
}
dd {
	margin: 0 0 0 180px;
	padding: 0 0 12px 0;
}
pre {
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
	background: #f1f1f1;
	padding: 22px 22px 22px 22px;
	border: 1px solid #ccc;
	font-size: 12px;
	background: #fff;
	color: #555 !important;
	margin-bottom: 22px;
}
pre {
	border-radius: 0px;
	border: 1px solid #e7e7e7;
}
.empty-space {
	width: 100%;
	height: 30px;
}
.page-container {
	overflow: hidden;
	height: 100%;
	left: 0;
	position: relative;
	transition: all 0.4s;
	-webkit-transition: all 0.4s; /* Safari and Chrome */
}
.content-container {
	position: relative;
	height: 100%;
	padding-bottom: 60px;
}
.fullscreen-content-container {
	position: relative;
	height: 100%;
}

/*-----------------------------------------------------------------------------------*/
/*	2. Forms
/*-----------------------------------------------------------------------------------*/

input:focus,
select:focus,
textarea:focus,
button:focus,
.form-group input:focus,
.form-group textarea:focus {
    outline: none !important;
}
label {
	color: #888;
	font-weight: 400;
	font-size: 14px;
}
input, 
textarea, 
select .form-group input, 
.form-group textarea,
.form-group select,
.form-control {
	border: 0px solid transparent;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	font-size: 14px;
	border-radius: 0px;
	font-weight: 400;
}
input:hover, textarea:hover, 
.form-group input:hover, 
.form-group textarea:hover {
	border: 0px solid transparent;
}
input:focus, textarea:focus, 
.form-group input:focus,
form-group textarea:focus {
	border: 0px solid transparent;
}
input[type="text"], input[type="email"], input[type="tel"], input[type="password"] {
	height: 40px;
	line-height: normal;
	padding-left: 12px;
}
textarea {
	padding: 20px 20px
}
.wpcf7-text, .wpcf7-textarea {
	width: 100%;
}
.selectboxit-container .selectboxit {
	min-width: 130px !important;
}
.selectboxit-list li {
	margin-bottom: 0px !important;
	padding-bottom: 0px !important;
}

/*-----------------------------------------------------------------------------------*/
/*	3. Header
/*-----------------------------------------------------------------------------------*/

.hero-container {
	margin-bottom: 70px;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;

}
.hero-container h1 {
	font-size: 46px;
	line-height: 70px;
	margin-bottom: 30px;
}
.hero-container p {
	font-size: 18px;
}
.hero-container *:last-child {
	margin-bottom: 0px;
}
.hero-container input {
	width: 10px !important;
}
.hero-container #searchform:after {
	display: none;
}
.header-wrapper {
	position: static;
}
.header {
	position: relative;
	text-align: right;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	padding-top: 10px;
	padding-bottom: 10px;
}
.header .logo {
	z-index: 1;
	transition: all 0.2s;
	-webkit-transition: all 0.2s;
	position: absolute;
	z-index: 999;
}
.header .logo img {
	height: 125px;
	width: auto;
	padding: 15px;
}
.navigation {
	display: block;
	transition: all 0.2s;
    -webkit-transition: all 0.2s;
}
.navigation li {
	display: inline-block;
	font-size: 14px;
	text-align: center;
	margin-left: -3px;
	position: relative;
	z-index: 99999999;
}
.navigation > li {
	margin-left: -5px;
}
.navigation li a {
	color: #333;
	padding: 40px 30px 40px 30px;
	text-align: center;
	font-size: 11px;
	font-weight: 600;
	display: block;
 	text-transform: uppercase;
 	position: relative;
	letter-spacing: 1px;
	transition: all ease-in-out 0.2s, color ease-in-out 0.2s, padding ease-in-out 0.2s;
    -webkit-transition: all ease-in-out 0.2s,  color ease-in-out 0.2s, padding ease-in-out 0.2s; /* Safari */
}
.navigation li .dropdown-menu li a {
	padding: 10px 10px 10px 10px;
	letter-spacing: 0px;
	text-transform: none;
	text-align: left;
}
.navigation li .dropdown-menu li {
	width: 100%;
	text-align: left;
}
.navigation li .dropdown-menu {
	padding: 0px 0px 0px 0px;
}
.navigation li button {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 300;
}
.navigation li:first-child a {
	background-image: none;
}
.navigation li a:hover {
	opacity: 1;
	background-image: none;
	background-color: transparent;
}
.navigation .dropdown:hover a {
	opacity: 1;
}
.navigation .dropdown i {
	position: relative;
	top: -1px;
	margin-left: 6px;
	font-size: 9px;
}
.navigation .current-menu-item + li a {
	background-image: none !important;
}
.navigation .sub-menu {
	text-align: left;
	position: absolute;
	width: 230px;
	opacity: 0;
	visibility: hidden;
	z-index: 1;
	transition: all ease 0.2s;
    -webkit-transition: all ease 0.2s; /* Safari */
	margin-left: auto;
	margin-right: auto;
	text-transform: none !important;
	font-size: 12px !important;
}
.navigation .dropdown:hover .sub-menu, .navigation .menu-item-language:hover .sub-menu {
	visibility: visible;
	opacity: 1;
	transition: all ease 0.4s;
    -webkit-transition: all ease 0.4s; /* Safari */
}
.navigation .dropdown < .sub-menu {
	background-color: #2a2a2a;
}
.navigation li {
	position: relative;
}
.navigation .sub-menu li {
	display: block;
	width: 100%;
	text-align: left;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}
.navigation .sub-menu li a {
	text-align: left;
	width: 100%;
	padding: 10px 20px;
	font-weight: normal;
	font-size: 11.5px;
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
	opacity: 1;
	display: inline-block;
	transition: background 0.4s, color 0.4s, padding 0.4s;
	-webkit-transition: background 0.4s, color 0.4s, padding 0.4s; /* Safari */
	text-transform: none;
	letter-spacing: 0px;
	color: #999;
}
.navigation .sub-menu li:first-child a {
	padding-top: 20px;
}
.navigation .sub-menu li:last-child a {
	padding-bottom: 20px;
}
.navigation .sub-menu li span {
	margin-top: 10px;
	color: #828487;
	font-size: 11.5px;
	display: inline-block;
	padding-right: 40px;
}
.navigation .sub-menu li:last-child a {
	border-bottom: none;
}
.navigation .sub-menu li a:hover {
	color: #fff;
}
.navigation-feature-button a {
	padding: 8px 12px 8px 12px !important;
	text-transform: none;
	letter-spacing: normal;
	font-size: 12px !important;
}
.navigation > li .sub-menu { 
	background-color: #333;
}
.navigation > li > a {
	border-width: 0px;
}
.navigation .sub-menu i {
	margin-left: 0px !important;
	margin-right: 8px !important;
	display: inline-block;
	font-size: 12px !important;
}
.navigation > li a [class*="fa-"] {
	font-size: 13px;
	margin-right: 6px;
	position: relative;
	top: 0px;
}
.navigation .fa-angle-down {
	margin-right: 0px !important;
	margin-left: 6px !important;
	font-size: inherit !important;
}
nav {
	text-align: right;
	position: relative;
	z-index: 1;
	display: inline-flex;
}
nav:hover .navigation li a {
	opacity: 0.5;
}
nav .navigation li a:hover {
	opacity: 1;
}

.header-wrapper[data-sticky="1"] {
	position: fixed;
	width: 100%;
}
.header-sticky {
	left: 0;
	right: 0;
	z-index: 99999;
	background-color: #fff;
	transition: all 0.4s;
    -webkit-transition: all 0.4s; /* Safari */
}
.header-sticky .header {
	position: relative;
}
.header-sticky .navigation > li > a {
	color: #333;
	padding: 10px 30px 10px 30px;
}
.header-sticky .logo img {
	height: 61px;
	padding: 0;
}
.header-sticky .logo {
	top: 50%;
	transform: translateY(-50%);
}


/* Navigation Side */
.navigation-toggle {
	transition: all 0.4s;
	-webkit-transition: all 0.4s; /* Safari and Chrome */
	opacity: 1;
	visibility: visible;
	cursor: pointer;
}
.navigation-toggle:hover {
	opacity: 0.5 !important;
}
.navigation-toggle i {
	font-size: 14px !important;
}
.navigation-overlay {
	position: fixed;
	height: 100%;
	width: 33%;
	background-color: #2a2a2a;
	right: -33%;
	top: 0;
	z-index: 9999999;
	text-align: center;
	transition: all 0.4s;
	-webkit-transition: all 0.4s; /* Safari and Chrome */
}
.vertical-center {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
.navigation-overlay ul li {
	display: inline-block;
	width: 100%;
	padding: 6px 6px;
	text-transform: uppercase;
	letter-spacing: 2px;
}
.navigation-overlay ul li a {
	font-size: 14px;
	font-weight: 600;
	color: #fff;

}
.navigation-overlay .dropdown ul {
	display: none;
}
.navigation-overlay .dropdown ul li a {
	font-size: 11px;
}
.navigation-overlay .logo img {
	width: 150px;
	margin-bottom: 60px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s; /* Safari and Chrome */
}
.navigation-overlay .logo img:hover {
	opacity: 0.3;
}
.navigation-overlay .social-buttons {
	margin-top: 30px;
}
.navigation-overlay .social-buttons a {
	color: #fff;
	font-size: 14px;
	margin-right: 12px;
}
.navigation-overlay .social-buttons:hover a {
	opacity: 0.3;
}
.navigation-overlay .social-buttons a:hover {
	opacity: 1;
}
.navigation-overlay .social-buttons a:last-child {
	margin-right: 0px;
}
.navigation-overlay .social-buttons span {
	display: none;
}
.navigation-overlay .close-button {
	width: 30px;
	height: 30px;
	position: absolute;
	top: 50px;
	right: 50px;
}

.navigation-overlay ul:hover li a {
	opacity: 0.5;
}
.navigation-overlay ul li a:hover {
	opacity: 1;
}
.navigation-overlay ul .dropdown:hover > a {
	opacity: 1;
}
.navigation-overlay li a .fa-angle-down {
	margin-left: 6px;
}

.navigation-overlay > ul:hover li a {
	opacity: 0.5;
}
.navigation-overlay > ul li a {
	opacity: 1;
}

/* Navigation Side Overlay */
.navigation-side-active .navigation-side {
	right: 0;
}
.navigation-side-active .page-container {
	position: relative;
	left: -33%;
}
.navigation-side-active .navigation-toggle {
	opacity: 0;
}

/* Navigation Fullscreen Overlay */
.navigation-fullscreen {
	width: 100%;
	right: 0;
	opacity: 0;
	visibility: hidden;
	background-color: rgba(0,0,0,0.9);
}
.navigation-fullscreen-active .navigation-fullscreen {
	opacity: 1;
	visibility: visible;
}

/*-----------------------------------------------------------------------------------*/
/*	5 Mega Menu
/*-----------------------------------------------------------------------------------*/

.navigation .mega-menu .sub-menu li .sub-menu {
	transition: none;
	-webkit-transition: none;
	box-shadow: none !important;
	/* box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1), inset 0  12px 12px -12px rgba(0, 0, 0, 0.1), inset 0 -8px 8px -15px green; */
	border-top: none !important;
	border-left: none !important;
	border-right: none !important;
	border-bottom: none !important;
	background-color: transparent !important;
}
.navigation .mega-menu:hover .sub-menu li .sub-menu {
	margin-left: 0px;
	visibility: visible !important;
	opacity: 1 !important;
}
.mega-menu .* {
	box-sizing: none !important;
	-moz-box-sizing: none !important;
}
.mega-menu {
	position: static !important;
}
.mega-menu .sub-menu-arrow {
	display: none !important;
}
.mega-menu .sub-menu {
	display: inline-block;
}
.mega-menu .sub-menu .sub-menu {
	border-top: none !important;
	width: 100%;
}
.mega-menu > .sub-menu {
	padding-top: 16px;
	padding-bottom: 16px;
	box-sizing: content-box !important;
	-moz-box-sizing: content-box !important;
	-webkit-box-sizing: content-box !important;
	display: block;
	margin-left: auto;
	margin-right: auto;
	left: auto;
	right: auto;
}
.mega-menu > .sub-menu > li {
	float: left;
	border-right: 1px solid rgba(0,0,0, 0.12);
	border-bottom: 0px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.mega-menu > .sub-menu > li a {
	border-bottom: 0px !important;
	padding: 10px 12px 10px 12px !important;
	padding-left: 20px !important;
	transition: background ease-in-out 0.4s, color ease-in-out 0.4s, padding ease-in-out 0.4s;
    -webkit-transition: background ease-in-out 0.4s, color ease-in-out 0.4s, padding ease-in-out 0.4s; /* Safari */
}
.mega-menu .sub-menu li > .sub-menu {
	position: relative !important;
	padding-top: 0px !important;
}
.mega-menu .sub-menu .menu-item-has-children > a {
	font-size: 11px !important;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 600 !important;
	color: #fff;
	transition: color ease-in-out 0.4s;
    -webkit-transition: color ease-in-out 0.4s; /* Safari */
}
.mega-menu > .sub-menu > li:last-child {
	border-right: 0px !important;
}
/* Two column MM */
.mega-menu-2col > .sub-menu > li {
	width: 49.8% !important;
}
.mega-menu-2col > .sub-menu {
	width: 440px;
}
/* Three column MM */
.mega-menu-3col > .sub-menu > li {
	width: 33.2% !important;
}
.mega-menu-3col > .sub-menu {
	width: 600px;
}
/* Four column MM */
.mega-menu-4col > .sub-menu > li {
	width: 24.9% !important;
}
.mega-menu-4col > .sub-menu {
	width: 1100px;
	left: 0;
	right: 0;
	position: absolute;
}
/* Five column MM */
.mega-menu-5col > .sub-menu > li {
	width: 19.9% !important;
}
.mega-menu-5col > .sub-menu {
	width: 1170px;
	left: 0;
	right: 0;
	position: absolute;
}
/* Six column MM */
.mega-menu-6col > .sub-menu > li {
	width: 16.666666% !important;
}
.mega-menu-6col > .sub-menu {
	width: 1170px;
	left: 0;
	right: 0;
	position: absolute;
}

/*-----------------------------------------------------------------------------------*/
/*	3. Footer
/*-----------------------------------------------------------------------------------*/

footer {
	background-color: #fff;
	position: relative;
	margin: 0px 0px 0px 0px;
	padding: 60px;
	text-align: center;
}
footer .copyright {
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 11px;
	font-weight: 400;
	color: #777;
	line-height: 22px;
}
footer .social-buttons {
	text-align: center;
	margin-bottom: 12px;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 900;
	letter-spacing: 2px;
	display: inline-flex;
}
footer .social-buttons a {
	margin-right: 30px;
	font-weight: 600;
	color: #555;
}
footer .social-buttons:hover a {
	opacity: 0.5;
}
footer .social-buttons a:hover {
	opacity: 1;
}
footer .social-buttons a:last-child {
	margin-right: 0px;
}
footer .social-buttons a:hover {
	opacity: 1;
	color: #333;
}
footer .footer-about {
	width: 40%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-bottom: 60px;
	padding-bottom: 30px;
	border-bottom: 1px solid #e1e1e1;
}
footer .footer-about img {
	width: 150px;
	margin-bottom: 30px;
}
.footer-pagination {
	background-color: #f7f7f7;
	padding: 30px;
	text-align: center;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-size: 13px;
}
.footer-pagination a {
	font-weight: 600;
}
.footer-pagination span {
	margin-right: 60px;
}
.footer-pagination span:last-child {
	margin-right: 0px;
}

	
/*-----------------------------------------------------------------------------------*/
/*	6. Mobile Navigation
/*-----------------------------------------------------------------------------------*/

.mobile-logo {
	float: left;
}
.mobile-logo img {
	height: 60px;
	margin-top: 30px;
	margin-left: 30px;
}
.mobile-nav-container {
	overflow: auto;
	width: 100%;
	display: none;
	z-index: 10;
}
.mobile-nav-container .dropdown a {
	margin-right: 0px !important;
	padding-right: 0px !important;
}
.mobile-nav-container .dropdown a .fa-chevron-down {
	margin-left: 3px;
}
#mobile-nav {
	float: left;
	width: 100%;
	background: #222;
}
.mobile-nav-bar {
	background: transparent;
	width: 100%;
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
}
#mobile-nav li a {
	padding: 20px 30px 20px 30px !important;
	display: block;
	font-size: 12px;
	color: rgba(255,255,255,0.8);
	border-bottom: 1px solid rgba(255,255,255,0.05);
}
#mobile-nav li a:active {
	color: rgba(255,255,255,1);
}
#mobile-nav .sub-menu {
	padding-left: 22px;
}
#mobile-nav .sub-menu li a {
	color: rgba(255,255,255,0.6);
}
#mobile-nav .fa-angle-down {
	float: right;
	margin-top: 3px;
	font-size: 16px;
}
.btn-mobile-nav {
	border: none;
	background-color: transparent;
	color: #222 !important;
	background-size: 24px 15px;
	background-repeat: no-repeat;
	background-position: center center;
	float: right;
	padding: 40px !important;
	font-weight: 300;
	margin-bottom: 15px;
	margin-top: 10px;
	cursor: pointer;
	border-radius: 2px !important;
	z-index: 10000000000;
	border-radius: 3px;
	font-size: 26px;
}
.btn-mobile-nav.collapsed {
	background-color: transparent;
}
#mobile-nav li a:hover .sub-menu {
	display: none;
}
#mobile-nav li .sub-menu {
	display: none;
}
#mobile-nav .mega-menu .sub-menu {
	width: 100% !important;
}
#mobile-nav .mega-menu .sub-menu > li {
	float: none !important;
	width: 100% !important;
	border-right: 0px !important;
}
#mobile-nav .mega-menu .sub-menu > li sub-menu {
	width: 100% !important;
}
#mobile-nav .mega-menu .sub-menu > li {
	float: none !important;
}
#mobile-nav .mega-menu .sub-menu .menu-item-has-children > a {
	border-right: 0px !important;
	padding: 0px 0px 0px 0px !important;
	padding-left: 16px !important;
	display: none;
}
#mobile-nav .mega-menu > .sub-menu > li a {
	border-right: 1px dashed #434649 !important;
	padding: 12px 12px 12px 12px !important;
	padding-left: 16px !important;
}
#mobile-nav .sub-menu i {
	margin-right: 8px !important;
}

/*-----------------------------------------------------------------------------------*/
/*	7. Posts
/*-----------------------------------------------------------------------------------*/

article {
	margin-bottom: 30px;
}

article .entry {
	background-color: #fff;
	padding: 60px 60px;
	margin-bottom: 60px;
}
article.sticky .entry {
	 -moz-box-shadow:    0 0 10px #ccc;
   -webkit-box-shadow: 0 0 10px #ccc;
   box-shadow:         0 0 10px #ccc;
}
article .article-image img {
	width: 100%;
	height: auto;
}
article .heading {
	font-size: 20px;
	margin-bottom: 15px;
}
article .heading a {
	font-weight: 500;
}
article .date {
	font-size: 13px;
	color: #bbb;
}
article .read-more-wrapper {
	display: inline-flex;
}

.isotope-item article .heading {
	font-size: 16px;
}
.isotope-item article .entry {
	margin-bottom: 30px;
}

/* Post Formats */

article .article-link, article .article-quote {
	padding: 30px 30px;
	background-color: #fff;
	border-bottom: 2px solid #f1f1f1;
	font-weight: 600;
	font-size: 16px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s; /* Safari and Chrome */
}
article .article-link a {
	font-weight: 600;
}

article .article-quote blockquote {
	border-top: none;
	border-bottom: none;
	margin: 0px 0px 0px 0px !important;
}

article .post-meta {
	display: none;
}

/* Single */

.single-post {
	background-color: #f7f7f7;
}
.single article .date {
	display: none;
}
.single article .post-meta {
	display: block;
	color: #888;
	font-size: 12px;
}
.single article .heading {
	font-size: 26px;
}
.single article .article-link {
	margin-bottom: 30px;
}
.single article .article-video {
	margin-bottom: 30px;
}
.single .format-video .entry-content iframe {
	display: none;
}
.single article .article-quote {
	font-size: 26px;
	line-height: 26px;
	font-weight: 400;
	padding: 60px 60px;
	margin-bottom: 30px;
	line-height: 2;
}
.single-post .entry-header {
	border-bottom: 1px solid #e1e1e1;
	padding-bottom: 30px;
}

/* Tags */
.tags-share {
	font-size: 11px;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 2px;
	margin-bottom: 30px;
	border-bottom: 1px dotted #ccc;
	padding-bottom: 30px;
	position: relative;
}
.tags-share a {
	padding: 10px 15px;
	color: #999;
	letter-spacing: 2px;
	margin-top: 12px;
	text-transform: uppercase;
	font-size: 10px;
	font-weight: 600;
	display: inline-block;
	transition: all 0.2s;
	border-radius: 100px;
    -webkit-transition: all 0.2s; /* Safari */
    margin-right: 8px;
    background: #fff;
}
.tags-share a:hover {
	color: #fff !important;
	background: #333;
}
.tags-share .column {
	width: 49%;
	display: inline-block;
	min-height: 63px;
}
.tags-share .right {
	float: right;
	width: auto;
}

.entry [class*="entry-"] {
	margin-bottom: 30px;
}
.entry [class*="entry-"]:last-child {
	margin-bottom: 0px;
}

.entry table {
	border: 1px solid #ddd;
	margin-bottom: 22px;
}
.entry thead th {
	padding: 14px 18px 14px 18px !important;
	border-bottom: 1px solid #ddd;
	background: #f1f1f1;
}
.entry td, .entry tbody th  {
	padding: 14px 18px 14px 18px !important;
	color: #666;
	font-size: 11.5px;
}
.entry .th-black {
	background: #444;
}
.entry ul, .entry ol {
	margin-bottom: 30px;
}
article .entry img {
	max-width: 100%;
}
.isotope-loadmore {
	text-align: center;
}
.isotope-loadmore a {
	text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    font-size: 12px;
    padding: 60px;
    display: block;
    width: 100%;
    background-color: #f7f7f7;
    transition: all 0.2;
	-webkit-transition: all 0.2s; /* Safari and Chrome */
}
.isotope-loadmore a:hover {
	background-color: rgba(0,0,0,0.02);
}

.isotope-container .isotope-post {
	width: 49.99%;
	padding: 90px 160px;
	text-align: center;
}
.isotope-container .isotope-post:first-child {
	width: 100%;
	padding: 90px 300px;
	text-align: left;
}
.isotope-container .isotope-post .date {
	margin-bottom: 6px;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 1px;
    font-weight: 600;
    color: rgba(0,0,0,0.3);
}
.isotope-container .isotope-post:hover .read-more {
	border: 1px solid #333;
	color: #fff !important;
	background: #333;
}
.isotope-container .isotope-post h3 {
	font-weight: 600 !important;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
}
.isotope-container .isotope-post h3 a {
	font-weight: 600 !important;
}
/*-----------------------------------------------------------------------------------*/
/*	9. Comments
/*-----------------------------------------------------------------------------------*/

.commentlist .avatar {
	width: 50px;
	height: auto;
	margin-right: 12px;
	float: left;
}
.comments {
	width: 400px;
}
.comment-meta {
	margin: 0 0 0 80px;
}
.comment-meta h4 {
	margin-bottom: 12px;
	font-size: 14px;
}
.commentlist p {
	font-size: 13px;
	font-weight: 400;
	margin-bottom: 12px;
}
.commentlist .author-name, .commentlist .author-name a {
	font-weight: 600;
	color: #333;
}
.commentlist
.comment-body {
	margin: 0 0 0 80px;
}
.commentlist .entry {
	background: #f1f1f1;
	padding: 30px 30px 30px 30px;
	margin-bottom: 30px;
}
.form-allowed-tags {
	display: none;
}
.comment-form-url, .comment-form-email, .comment-form-author {
	position: relative;
}
.form-icon {
	height: 20px;
	width: 20px;
	display: block;
	position: absolute;
	top: 37px;
	right: 10px;
	opacity: 0.3;
}
.url-icon {
	background: url(assets/img/icons/glyphicons_050_link.png) no-repeat center center;
	background-size: 15px 15px;
}
.email-icon {
	background: url(assets/img/icons/glyphicons_399_e-mail@2x.png) no-repeat center center;
	background-size: 15px 15px;
}
.commentlist {
	margin-left: 0px !important;
	margin-bottom: 60px;
}
.commentlist > li:last-child .entry {
	border-bottom: 0px;
}
.commentlist .page-numbers {
	font-size: 11px;
	padding: 6px 10px;
	margin-bottom: 22px;
	display: inline-block;
	margin-right: 3px;
	border-radius: 3px;
	border: 1px solid #ccc;
}
.commentlist .page-numbers:hover {
	background: #fff;
	padding: 6px 10px;
	margin-bottom: 22px;
	display: inline-block;
	margin-right: 3px;
	border-radius: 3px;
	border: 1px solid #ccc;
}
.commentlist .current {
	font-size: 11px;
	background: #fff;
	color: #333;
	padding: 6px 10px;
	margin-bottom: 22px;
	display: inline-block;
	border: 1px solid #ccc;
}
.commentlist .current:hover {
	background: #fff;
}
.commentlist .children {
	margin-left: 60px;
}
.comment-heading {
	border-bottom: 1px solid #e1e1e1;
	margin-bottom: 30px;
	padding-bottom: 12px;
	font-size: 14px;
	font-weight: 500;
}
.comment-reply-title {
	margin-bottom: 6px;
	padding-bottom: 6px;
	font-size: 16px;
	font-weight: 500;
}
.logged-in-as {
	font-size: 12px !important;
	margin-bottom: 30px;
}
.logged-in-as a {
	font-weight: 400;
}
.comment-notes {
	padding-bottom: 22px;
	border-bottom: 1px solid #e7e7e7;
}
.icon-nocomments {
	background: url(assets/img/icons/glyphicons_244_conversation.png) top center no-repeat;
	background-size: 25px 18px;
	height: 18px;
	width: 75px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 12px;
	padding-bottom: 12px;
	border-bottom: 1px dashed #ccc;
	opacity: 0.7;
}
.no-comments {
	margin-bottom: 12px;
}
.no-comments p {
	text-align: center;
}
.commentlist .current-post-page:hover {
	background: #fff;
}
#cancel-comment-reply-link {
	background: #2a2a2a;
	padding: 6px 8px 6px 8px;
	border-radius: 3px;
	font-weight: 500;
	font-size: 10px;
	color: #fff;
	margin-left: 12px;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.comment-form input, .comment-form textarea {
	width: 100%;
}
.comment-footer span {
	margin-right: 8px;
	font-size: 12px;
}
.comment-body .comment-approval {
	background: #d9edf7;
	padding: 12px 12px;
	margin-top: 12px;
	margin-bottom: 12px;
}
.comment-edit-link {
	font-weight: 400;
}
.comment-respond {
	margin-bottom: 30px;
}
.single-comments .small-title {
	margin-bottom: 30px;
}
/*-----------------------------------------------------------------------------------*/
/*	9. Widgets
/*-----------------------------------------------------------------------------------*/

.widget ul li {
	padding-bottom: 8px;
	margin-bottom: 8px;
	border-bottom: 1px dotted #ccc;
}
.widget ul li:last-child {
	border-bottom: 0px;
}
.widget li > .children, .widget li > .sub-menu {
	margin-top: 10px;
}
.widget .children, .widget .sub-menu {
	padding-left: 20px;
	margin-bottom: 0px;
}

.widget-area ul li {
	font-size: 12px;
}

/* Sidebar Widgets */
.widget-left {
	padding-right: 30px;
}
.widget-right {
	padding-left: 30px;
}
.widget-area .widget {
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
	position: relative;
	margin-bottom: 60px;
	font-size: 12px;
	color: #666;
	line-height: 24px;
}
.widget-area .widget:last-child {
	border-bottom: 0px;
}
.widget-area .widgettitle {
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-weight: 600;
	color: #333;
}
.textwidget {
	font-size: 12px;
	color: #222;
}
.textwidget p {
	font-size: 13px;
	font-weight: 500;
}
.textwidget p a {
	color: #ccc !important;
}
.textwidget p:last-child {
	margin-bottom: 0px;
}
.widget-area .post-date {
	color: #888;
	font-size: 11px;
}
.widget-area .post-date:before {
    content:"\a";
    white-space: pre;
}

/* calendar widget */
#wp-calendar {width: 100%;}
#wp-calendar caption { text-align: right; color: #333; font-size: 12px; margin-top: 10px; margin-bottom: 15px; }
#wp-calendar thead { font-size: 10px; color: #fff;}
#wp-calendar thead th { padding-bottom: 10px; text-align: center; color: #333;}
#wp-calendar tbody { color: #aaa; }
#wp-calendar tbody td { font-size: 10px; color: #333; background: #f1f1f1; text-align: center; padding:3px;}
#wp-calendar tbody td:hover { background: #40434c; cursor: pointer; color: #fff}
#wp-calendar tbody .pad { background: none; }
#wp-calendar tfoot #next { font-size: 10px; text-transform: uppercase; text-align: right; }
#wp-calendar tfoot #prev { font-size: 10px; text-transform: uppercase; padding-top: 10px; }
#wp-calendar a {color: #fff;}
#wp-calendar a:hover {color: #fff !important;}
#wp-calendar th {color: #333 !important;}
#wp-calendar caption {color: #333 !important;}
#wp-calendar td a {color: #fff !important;}

.widget-area .widget_recent_entries ul li {
	margin-bottom: 12px;
}
.tagcloud {
	text-align: left;
}
.tagcloud a {
	background: transparent;
	font-weight: 600;
	font-size: 12px !important;
	padding: 8px 16px 8px 16px;
	margin-bottom: 5px;
	display: inline-block;
	color: #555;
	border-radius: 3px;
	border: 1px solid #ccc;
	margin-right: 3px;
}
.tagcloud a:hover {
	border: 1px solid #aaa;
	color: #333 !important;
}
p .tooltip-span {
	font-weight: 500;
	text-decoration: underline;
}
.tooltip-inner {
	display: inline-flex;
}
.tagcloud .tooltip.in {
	opacity: 1;
	filter: alpha(opacity=80);
}
.tagcloud .tooltip-inner {
	max-width: 200px;
	padding: 3px 8px;
	color: #333;
	text-align: center;
	text-decoration: none;
	background-color: #fff;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.tagcloud .tooltip.top .tooltip-arrow {
	bottom: 0;
	left: 50%;
	margin-left: -5px;
	border-width: 5px 5px 0;
	border-top-color: #fff;
}
.widget-right {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	height: 100%;
	min-height: 100%;
}
.widget-area #searchform, .widget-area #searchform #s {
	width: 100%;
}
.sidebar-active {
	padding-left: 90px;
	padding-right: 90px;
}
.textwidget img {
	max-width: 100%;
}

/*-----------------------------------------------------------------------------------*/
/*	12. Wordpress Core
/*-----------------------------------------------------------------------------------*/

.sticky {

}
.screen-reader-text {
	
}
.alignnone {
    margin: 5px 20px 20px 0;
}
.aligncenter, div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}
.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}
.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}
.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}
a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}
a img.alignnone {
    margin: 5px 20px 20px 0;
}
a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}
a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}
.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 12px 12px 12px 12px;
    text-align: center;
}
.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}
.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}
.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}
.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}
.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin-top: 12px;
}
.gallery-caption {
	
}
.bypostauthor {
	
}
.clearboth {
	height: 0;
	clear: both;
	margin: 0;
	padding: 0;
}
.emptyspace {
	height: 22px;
	width: 100%;
}
.size-auto, 
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
	max-width: 100%;
	height: auto;
}
.post-password-form label {
	position: relative;
}
.post-password-form input {
	height: 40px;
	padding-left: 12px;
	margin-left: 12px;
	background: #f1f1f1;
}
.post-password-form input[type="submit"] {
	background: none;
	border: none;
	margin-left: -50px;
	right: 0;
	color: #555;
	height: 40px;
	opacity: 0;
	position: relative;
}
.post-password-form label:after {
	content: "\f105";
	display: block;
	position: absolute;
	top: 50%;
  	transform: translateY(-50%);
	right: 12px;
	color: #999;
	font-family: FontAwesome !important;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 1;
}
.gallery-item dt {
	float: none;
	clear: none;
	width: auto;
	text-align: center;
}
.gallery-item dd {
	margin: auto;
	padding: auto;
}
.gallery-item .wp-caption-text {
	margin-top: 12px;
}

/*-----------------------------------------------------------------------------------*/
/*	Portfolio
/*-----------------------------------------------------------------------------------*/

/* Portfolio */
.portfolio-entry {
	width: 50%;
	display: inline-block;
	overflow: hidden;
	border-style: solid;
	border-color: transparent;
}
.portfolio-entry .primary img, .portfolio-entry .secondary img {
	width: 100% !important;
}
.portfolio-entry .primary, .portfolio-entry .secondary {
	width: 100%;
	height: auto;
	transition: all 0.2;
	-webkit-transition: all 0.2s; /* Safari and Chrome */
	-moz-transition: all 0.2s; /* Safari and Chrome */
}
.image-overlay {
	display: block;
	position: relative;
}
.image-overlay .overlay {
	background: rgba(0,0,0,0.7);
	position: absolute;
	opacity: 0;
	visibility: hidden;
	transition: all 0.2s;
	-webkit-transition: all 0.2s; /* Safari and Chrome */
	text-align: left;
	z-index: 10000;
	padding: 25px 30px;
	margin: 0 0;
	width: 100%;
	height: 100%;
	color: #333;
	text-align: center;
}
.image-overlay:hover .overlay {
	opacity: 1;
	visibility: visible;
}
.portfolio-hover:hover .primary {
	transform: translate3d(0px, 100%, 0px);
<<<<<<< HEAD
	-webkit-transform: translate3d(0px, 100%, 0px);
	-moz-transform: translate3d(0px, 100%, 0px);
=======
	-moz-transform: translate3d(0px, 100%, 0px);
	-webkit-transform: translate3d(0px, 100%, 0px);
>>>>>>> origin/master
}
.portfolio-hover .secondary {
	position: absolute;
	transition: all 0.2s;
	-webkit-transition: all 0.2s; /* Safari and Chrome */
	transform: translate3d(0px, -100%, 0px);
<<<<<<< HEAD
	-webkit-transform: translate3d(0px, -100%, 0px);
	-moz-transform: translate3d(0px, -100%, 0px);
=======
	-moz-transform: translate3d(0px, -100%, 0px);
	-webkit-transform: translate3d(0px, -100%, 0px);
>>>>>>> origin/master
	pointer-events: none;
}
.portfolio-hover:hover .secondary {
	opacity: 1;
	visibility: visible;
	transform: translate3d(0px, 0px, 0px);
<<<<<<< HEAD
	-webkit-transform: translate3d(0px, 0px, 0px);
	-moz-transform: translate3d(0px, 0px, 0px);
=======
	-moz-transform: translate3d(0px, 0px, 0px);
	-webkit-transform: translate3d(0px, 0px, 0px);
>>>>>>> origin/master
}
.image-overlay .overlay h3 {
	font-size: 20px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 2px;
	margin-bottom: 0px;
	text-align: center;
}
.image-overlay .overlay .overlay-center {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}
.image-overlay .overlay .overlay-logo {
	width: 70px;
	height: auto;
	margin-bottom: 30px;
}
.image-overlay .overlay .overlay-center *:last-child {
	margin-bottom: 0px;
}
.portfolio-2col .portfolio-entry {
	width: 50%;
}
.portfolio-3col .portfolio-entry {
	width: 33.33333333%;
}
.portfolio-4col .portfolio-entry {
	width: 25%;
}
.project-sidebar {
	padding-left: 30px;
}
.project-stack img {
	width: 100%;
	height: auto;
	margin-bottom: 30px;
}
.portfolio-pagination {
	position: absolute;
    bottom: 0;
    right: 0;
    display: inline-flex;
}
.portfolio-pagination a {
	padding: 15px 30px;
	color: #fff;
	background: #222;
	border-right: 1px solid #333;
}
.portfolio-pagination a:hover {
	background-color: #111;
}
.portfolio-pagination .project-details {
	width: 300px;
}
.category-filter {
	text-align: center;
	border-top: 1px solid #e1e1e1;
	font-size: 10px;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-weight: 600;
}
.category-filter li {
	display: inline-block;
}
.category-filter:hover li a {
	opacity: 0.5;
}
.category-filter a {
	font-weight: 600;
	padding: 30px 30px;
	display: inline-block;
}
.category-filter li a:hover {
	color: #333;
	opacity: 1;
}
.portfolio-share {
	border-top: 1px solid #e1e1e1;
	padding-top: 30px;
	font-size: 18px;
}
.portfolio-share a {
	margin-right: 12px;
}
.portfolio-share span {
	font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 100%;
    display: block;
    font-weight: 600;
    margin-bottom: 12px;
}
/*-----------------------------------------------------------------------------------*/
/*	10. Misc
/*-----------------------------------------------------------------------------------*/

/* Flexslider */
.flexslider {
	margin-bottom: 0 !important;
	padding: 0 0 0 0 !important;
	box-shadow: none !important;
	border: 0px !important;
}
.flexslider li {
	margin: 0 0 0 0 !important;
	list-style: none !important;
}
.flex-control-nav {
	display: none;
}
.flex-next, .flex-prev {
	background: none !important;
	background-repeat: no-repeat !important;
	height: 120px !important;
	width: 120px !important;
	color: #222 !important;
	margin-top: -30px !important;
	display: inline-block;
	font-family: FontAwesome !important;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	font-size: 60px;
	text-align: center;
	text-indent: 0px !important;
	font-size: 0px;
}
.flex-next:before {
	content: "\f105";
	font-size: 60px !important;
}
.flex-prev:before {
	content: "\f104";
	font-size: 60px !important;
}
.flexslider .slides img {
	height: auto;
}
.flex-control-nav li {
	margin: 0px 5px !important;
}
.flex-active {
	background: #5ED2C6 !important;
}

/* Tag Cloud */
.tag-cloud {
	width: 400px;
	display: inline-block;
}
.tag-cloud a {
	border: 0;
	background: #222;
	font-weight: 400;
	color: #fff !important;
}
.tag-cloud a:hover {
	border: 0;
	background: #51BABE;
	color: #fff !important;
}

/* Preloader */
@keyframes pulse-animation {
	0% {
		transform: scale(0.8);
		opacity: 1;
	}
	50% {
		transform: scale(1);
		opacity: 0.7;
	}
	100% {
		transform: scale(0.8);
		opacity: 1;
	}
}
.pulse-preloader {
	color: #111;
	width: 100px;
	margin-left: auto;
    margin-right: auto;
}
.pulse-preloader > img {
    -webkit-animation: pulse-animation 1s 0s infinite cubic-bezier(0.21, 0.53, 0.56, 0.8);
    -moz-animation: pulse-animation 1s 0s infinite cubic-bezier(0.21, 0.53, 0.56, 0.8);
    -o-animation: pulse-animation 1s 0s infinite cubic-bezier(0.21, 0.53, 0.56, 0.8);
    animation: pulse-animation 1s 0s infinite cubic-bezier(0.21, 0.53, 0.56, 0.8);
    display: block;
    float: none;
    width: 100px;
    height: auto;
}
.tp-caption.NotGeneric-CallToAction, .NotGeneric-CallToAction {
	border-radius: 100px 100px 100px 100px !important;
}
.preloader {
	height: 100%;
	width: 100%;
	background: #f7f7f7;
	position: fixed;
	top: 0;
	z-index: 999999;
	text-align: center;
	font-size: 32px;
	color: #333;
	transition: all 0.4s;
	-webkit-transition: all 0.4s; /* Safari and Chrome */
}
.preloader .preloader-content {
	position: relative;
  	top: 50%;
  	transform: translateY(-50%);
  	-moz-transform: translateY(-50%);
  	-webkit-transform: translateY(-50%);
}


/* Buttons */
.read-more, .more-link, #comment-submit, .wpcf7-submit, .btn-default {
	border: 2px solid rgb(102, 102, 102);
	border-radius: 5px;
    color: rgb(102, 102, 102);
    background-color: transparent;
    padding: 13px 19px;
    text-transform: uppercase;
    font-size: 11px !important;
    font-weight: 600 !important;
    letter-spacing: 1px;
    box-sizing: border-box;
    line-height: normal;
    display: inline-flex;
    width: auto;
    transition: all 0.4s;
	-webkit-transition: all 0.4s; /* Safari and Chrome */
}
.read-more:hover, #comment-submit:hover, .more-link:hover, .wpcf7-submit:hover, .btn-default:hover {
	color: #fff !important;
	border: 2px solid rgb(102, 102, 102);
	background-color: rgb(102, 102, 102);
}

/* Greyscale Effect */
.greyscale-effect {
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
	opacity: 0.7;
	transition: all 0.4s;
	-webkit-transition: all 0.4s; /* Safari and Chrome */
}
.greyscale-effect:hover {
	filter: grayscale(0%);
	-webkit-filter: grayscale(0%);
	opacity: 1;
}

/* Close icon */
.close {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  overflow: hidden;
}
.close:hover::before, .close:hover::after {
  background: #fff;
}
.close::before, .close::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  top: 50%;
  left: 0;
  margin-top: -1px;
  background: #fff;
}
.close::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.close::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.close.big {
  -webkit-transform: scale(3);
  -moz-transform: scale(3);
  -ms-transform: scale(3);
  -o-transform: scale(3);
  transform: scale(3);
}
.close.hairline::before, .close.hairline::after {
  height: 1px;
}
.close.thick::before, .close.thick::after {
  height: 4px;
  margin-top: -2px;
}
.close.black::before, .close.black::after {
  height: 8px;
  margin-top: -4px;
}
.close.heavy::before, .close.heavy::after {
  height: 12px;
  margin-top: -6px;
}
.close.pointy::Before, .close.pointy::after {
  width: 200%;
  left: -50%;
}
.close.rounded::before, .close.rounded::after {
  border-radius: 5px;
}
.close.blades::before, .close.blades::after {
  border-radius: 5px 0;
}
.close.warp::before, .close.warp::after {
  border-radius: 120% 0;
}
.close.fat::before, .close.fat::after {
  border-radius: 100%;
}

/* Error 404 */

.error-404 {
	text-align: center;
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
  	top: 50%;
  	transform: translateY(-50%);
}
.error-404 h1 {
	font-size: 30px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 600;
}
.error-404 p {
	font-size: 20px;
	line-height: 1;
}
.error-404 #s {
	height: 70px;
	padding-left: 22px;
	border: none;
	font-size: 14px;
	background: #222;
	border: 0px !important;
	outline: none;
	background-color: rgba(0,0,0,0.8);
	color: #fff;
}

/* Search Form */
#searchform #searchsubmit {
	background: none;
	border: none;
	position: absolute;
	top: 50%;
  	transform: translateY(-50%);
	right: 0;
	color: #555;
	height: 100%;
	opacity: 0;
	z-index: 1;
	width: 50px;
}
#searchform:after {
	content: "\f002";
	display: block;
	position: absolute;
	top: 50%;
  	transform: translateY(-50%);
	right: 12px;
	color: #999 !important;
	font-family: FontAwesome !important;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 1;
}

/* Instagram */
.instagram-unit img {
	width: 33.3333333333%;
	padding-right: 12px;
	padding-bottom: 12px;
	opacity: 0.8;
	transition: all 0.2s;
	-webkit-transition: all 0.2s; /* Safari and Chrome */
}
.instagram-unit img:hover {
	opacity: 1;
}
.instagram {
	border-bottom: 1px dotted #ccc;
	padding-bottom: 30px;
	margin-bottom: 30px;
}
.instagram-post img {
	width: 20%;
	padding-right: 12px;
	padding-bottom: 12px;
	opacity: 0.8;
	transition: all 0.2s;
	-webkit-transition: all 0.2s; /* Safari and Chrome */
}
.instagram-post img:hover {
	opacity: 1;
}
.instagram {
	border-bottom: 1px dotted #ccc;
	padding-bottom: 30px;
	margin-bottom: 30px;
}
.instagram-post img {
	width: 20%;
	padding-right: 12px;
	padding-bottom: 12px;
	opacity: 0.8;
	transition: all 0.2s;
	-webkit-transition: all 0.2s; /* Safari and Chrome */
}
.instagram-post img:hover {
	opacity: 1;
}

/* Twitter */

.tweet_text {
	font-size: 13px;
	color: #555;;
	display: inline;
	padding-top: 6px;
	line-height: 2.5;
	font-weight: 500;
}
.tweet .button {
	display: inline;
}
.tweet_text a {
	transition: all 0.3s;
	-webkit-transition: all 0.3s; /* Safari */
}
.tweet_user {
	margin-bottom: 22px;
	font-size: 14px;
}
.tweet_time {
	display: none;
}
.tweet_time a {
	font-size: 12px;
	color: #50555b !important;
}
.tweet_list li {
	margin-bottom: 15px !important;
	padding-bottom: 15px !important;
}

.browsing {
	text-align: center;
	padding: 30px;
	margin-bottom: 60px;
	font-weight: 600;
	font-size: 26px;
}
.browsing h1 {
	margin-bottom: 0px;
	display: inline-block;
	font-size: 40px;
}
.browsing span {
	display: inline-block;
	font-weight: 500;
}

/* Style Switcher */
.live-previews-container {
	position: fixed;
	right: 0;
	bottom: 0;
	width: 365px;
	background: #2a2a2a;
	padding: 22px 22px;
	z-index: 999999;
}
.live-previews-button {
	color: #fff;
	font-size: 12px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 2px;
}
.live-previews-container:hover .live-previews-screenshots {
	display: block;
}
.live-previews-container:hover .live-previews-button {
	visibility: hidden;
}
.live-previews-screenshots {
	height: 600px;
	display: none;
	overflow-x: scroll;
}
.live-previews-screenshots::-webkit-scrollbar {
	display: none;
}
.live-previews-logo {
	text-align: center;
	padding: 30px 30px;
}
.live-previews-logo img {
	width: 100px;
	height: auto;
}
.live-previews-container .live-previews-logo p { 
	text-align: center;
	color: #888;
	font-size: 12px;
	margin-top: 30px;
}
.live-previews-screenshots .screenshot img {
	width: 100%;
	height: auto;
}
.live-previews-screenshots .screenshot {
	display: inline-block;
	position: relative;
}
.live-previews-screenshots .screenshot .overlay {
	background: rgba(80,186,182,0.7);
	position: absolute;
	opacity: 0;
	visibility: hidden;
	transition: all 0.2s;
	-webkit-transition: all 0.2s; /* Safari and Chrome */
	text-align: left;
	z-index: 10000;
	margin: 0 0;
	width: 100%;
	height: 100%;
	color: #fff;
	text-align: center;
}
.live-previews-screenshots .screenshot .overlay h4 {
	color: #fff;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 2px;
}
.live-previews-screenshots .screenshot .overlay .overlay-center {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
.live-previews-screenshots .screenshot:hover .overlay {
	opacity: 1;
	visibility: visible;
}
.live-previews-screenshots .device-container {
	margin-bottom: 30px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}
